.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 200px;
    margin-left: 435px;
}
.gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.1);
}
