body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.input-field, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea.input-field {
    resize: none;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.radio-item {
        display: flex;
        align-items: center;
        margin-top: 5px;
}

.button-left {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

.button-left:hover {
    background-color: #0056b3;
}
